.about {
  padding: 50px 30px;
  height: 80vh;
}
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  height: 100%;
}
.about-text {
  width: 50%;
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
}
.about-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 500px;
  animation: moveUpDown 2s linear infinite;
}
.actual-heading {
  font-size: 3vw;
  font-weight: 500;
  color: rgb(189, 186, 186);
}
.Commonprogress {
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
.Commonprogress p {
  margin: 0;
  font-weight: 500;
  margin-bottom: 2px;
}
.progress-stacked {
  width: 70%;
}
.bg-sunset {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
}
.bg-ocean {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}
.bg-lavender {
  background: linear-gradient(90deg, #a18cd1, #fbc2eb);
}
.bg-forest {
  background: linear-gradient(90deg, #56ab2f, #a8e063);
}

@media (max-width: 768px) {
  .about {
    padding: 0;
    height: auto;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    gap: 20px;
    height: 100%;
  }
  .about-text {
    width: 100%;
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
  }
  .actual-heading {
    font-size: 9vw;
    font-weight: 500;
    color: rgb(189, 186, 186);
  }
  .actual-text {
    text-align: justify;
  }
  .about-image {
    display: none;
  }

  .progress-stacked {
    width: 100%;
  }
  .Commonprogress {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}
@media (max-width: 368px) {
  .about {
    padding: 0;
    height: auto;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    gap: 20px;
    height: 100%;
  }
  .about-text {
    width: 100%;
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
  }
  .actual-heading {
    font-size: 9vw;
    font-weight: 500;
    color: rgb(189, 186, 186);
  }
  .actual-text {
    text-align: justify;
  }
  .about-image {
    display: none;
  }

  .progress-stacked {
    width: 100%;
  }
  .Commonprogress {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}
