.home {
  height: 92vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 100%;
}
.home-content,
.home-image {
  width: 50%;
}
.home-content p {
  font-size: 2.6vw;
  font-weight: 700;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.home-content span {
  color: grey;
  font-size: 20px;
  justify-content: flex-start;
}
.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-image img {
  animation: moveUpDown 2s ease-in-out infinite;
}
.view-cv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px;
}
.view-cv a {
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
}
.view {
  background: black;
}
.download {
  border: 2px solid black;
  color: black !important;
}
.download:hover {
  background: black !important;
  color: white !important;
  border: none !important;
  transition: 0.2s ease-in !important;
}

@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: auto;
  }
  .home-content {
    padding: 10px;
    margin: 0;
    margin-top: 100px;
    width: 100%;
  }
  .home-content p {
    font-size: 7vw;
    text-align: left;
  }
  .home-content span {
    text-align: center;
  }
  .home-content .view-cv {
    display: flex;
    justify-content: space-around;
  }
  .home-content .view-cv a {
    padding: 5px;
    border-radius: 0;
  }
  .home-image {
    margin: 0;
    padding: 0;
    display: none;
  }
}
@media (max-width: 300px) {
  .home {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: auto;
  }
  .home-content {
    padding: 10px;
    margin: 0;
    margin-top: 100px;
    width: 100%;
  }
  .home-content p {
    font-size: 7vw;
    text-align: left;
  }
  .home-content span {
    text-align: center;
  }
  .home-content .view-cv {
    display: flex;
    justify-content: space-around;
  }
  .home-content .view-cv a {
    padding: 6px;
    border-radius: 2px;
  }
  .home-image {
    margin: 0;
    padding: 0;
    display: none;
  }
}
